* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: url(pexels-pixabay-159711.jpg);
    background-position: center;
    background-size: cover;
    



}

header{
    margin-top: 3rem;
   text-align: center;


}

header h4{

    margin-top: 0.3rem;
    color: white;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{

    color: yellow;
    font-size: 5rem;
    margin-top: 2rem;
}

header h4:hover{

    color: #e3d9d4;
}

.welcome{
    background-color: #e9b657;
    display: block;
    width: 60%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    word-spacing: 0.5rem;
    font-size: 1rem;
    color: aliceblue;
}

.welcome h4{
    text-align: center; 
   
}




body {
    background-color: #f3f0ee;
}

.container {
    
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);


}
.search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.search-container input {
    padding: 5px;
    width: 72%;
    border: none;
    outline: none;
    border-bottom: 3px solid #e36f2b;
    font-size: 16px;
}



.search-container button:hover {
    background-color:#dec3b2 ;
    cursor: pointer;

}

.search-container button {
    padding: 15px 0;
    width: 25%;
    background-color: #e6a881;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
}

.result {
    position: relative;
}


.result h3 {
    font-size: 30px;
    color: #221c4b;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #d8c5bb;
    border: none;
    outline: none;
    font-size: 18px;
}

.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 4px 0 18px 0;
    font-size: 14px;
}
.word-meaning {
    color:white;
}

.word-example {
    color: #b5b8da;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 17px;
    margin-top: 28px;
}

.error { 
    margin-top: 80px;
    text-align: center;
}